attrs==22.1.0
blessed==1.19.1
commonmark==0.9.1
exceptiongroup==1.0.4
flake8==5.0.4
flake8-html==0.4.2
importlib-metadata==5.1.0
iniconfig==1.1.1
inquirer==2.10.1
Jinja2==3.1.2
MarkupSafe==2.1.1
mccabe==0.7.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycodestyle==2.9.1
pyflakes==2.5.0
Pygments==2.13.0
pyparsing==3.0.9
pytest==7.2.0
pytest-html==3.2.0
pytest-metadata==2.0.4
python-editor==1.0.4
readchar==4.0.3
rich==12.6.0
six==1.16.0
tinydb==4.7.0
tomli==2.0.1
typing-extensions==4.4.0
wcwidth==0.2.5
zipp==3.11.0
